.hdtDialog{
    -fx-background-color: #01579B;
    -fx-text-fill: white;
}

.hdtDialog > .content.label {
    -fx-text-fill: white;
}

.hdtDialog:header *.header-panel{
    -fx-background-color: #01579B;
}

.hdtDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-background-color: #01579B;
    -fx-text-fill: white;
}
