{% extends 'authapp/base.html' %}


{% block content %}
    <br>
    <div class="card">
        <div class="card-header">Смена пароля</div>
            <div class="card-body">
            <form class="form-horizontal" action="{% url 'auth:change_password' %}" method="post" enctype="multipart/form-data">

                <div class="card-text">{{ form.non_field_errors }}</div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                {% csrf_token %}
                <div class="fieldWrapper">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>
                <div class="fieldWrapper">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
                <div class="fieldWrapper">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <div class="btn-group">
                <input class="form-control btn btn-outline-primary col-sm-6" type="submit" value="сохранить">
                <a class="btn btn-outline-secondary col-sm-6" href="{{ request.META.HTTP_REFERER }}">Назад</a>
                </div>
            </form>
            </div>

    </div>

{% endblock %}

