{% extends "authapp/base.html" %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста, введите ваш пароль дважды.<br />
        </p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердить пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить пароль" /></td>
                </tr>
                            </table>
        </form>
    {% else %}
        <h1>Пароль не был изменен</h1>
        <p>Ссылка устарела, пожалуйста, воспользуйтесь формой восстановления пароля еще раз </p>
    {% endif %}
{% endblock %}