{% extends 'base.html' %}


{% block content %}

    <div class="col-sm-6">
        <br>
        <a  class="btn btn-dark" href="{% url 'ai:user_create' %}">новый пользователь</a>

        {% for object in objects %}
            <hr>
            <div class="card">
                <div class="card-header">
                    <span class="card-text {% if not object.is_active %}not_active{% endif %}">Статус: {{ object.role }}</span>
                    <div class="btn-group float-sm-right">
                        <a class="btn btn-dark" href="{% url 'ai:user_update' object.pk %}">редактировать</a>
                        <a class="btn btn-danger" href="{% url 'ai:user_delete' object.pk %}">удалить</a>
                    </div>
                </div>
                <div class="card-body">
                    <p> Юзернейм: <strong>{{ object.username }}</strong></p>
                    {% if object.first_name %}
                        <p>Имя: <strong>{{ object.first_name|title }}</strong></p>
                        {% if object.last_name %}
                            <p>Фамилия: {{ object.last_name|title }}</p>
                        {% endif %}
                    {% endif %}
                    <p>email: {{ object.email }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">logged: {{ object.last_login }}</p>
                </div>
            </div>
        {% endfor%}
    </div>
{% endblock %}


