{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">

</head>
<body>
<div class="container-fluid row">
    <nav class="navbar navbar-dark bg-light col-sm-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/"><h3>Справочник</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'persons_view' %}active{% endif %}" href="{% url 'ai:persons_view' %}">Личности</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'keywords_view' %}active{% endif %}" href="{% url 'ai:keywords_view' %}">Ключевые слова</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link {% if request.resolver_match.url_name == 'sites_view' %}active{% endif %}" href="{% url 'ai:sites_view' %}">Сайты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link {% if request.resolver_match.url_name == 'users' %}active{% endif %}" href="{% url 'ai:users' %}">Пользователи</a>
            </li>
        </ul>
    </nav>

    {% block content %}
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem cum ducimus ex, exercitationem illum impedit iusto maiores minus nihil nobis nostrum, odit perferendis quibusdam quos sint ullam vero?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque autem cum ducimus ex, exercitationem illum impedit iusto maiores minus nihil nobis nostrum, odit perferendis quibusdam quos sint ullam vero?</p>
        </div>
    {% endblock %}

</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{% block js %}{% endblock %}
</body>


</html>