{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% for site in sites %}
            <li>
                <span>{{ site.id }}</span>
                <span>{{site.name}}</span>
                <span><input type="checkbox" /></span>
            </li>
            {% endfor %}
            <input class="btn btn-danger" type="button" value="delete selected">
        </fieldset>
    </form>
    <a class="btn btn-dark" href="{% url 'add_site' %}">Добавить</a>
{% endblock %}