{% extends 'base.html' %}


  {% block content %}
    <div class="users_list">
		<button class="new_user">
			<a href="{% url 'ai:user_create' %}">новый пользователь</a>
		</button>
		{% for object in objects %}
			<div class="user_record {% if not object.is_active %}not_active{% endif %}">
			
				<div class="user_role">
					{% if object.is_superuser %}администратор{% else %}пользователь{% endif %}
					<button>
						<a href="{% url 'ai:user_update' object.pk %}">редактировать</a>
					</button>
					<button>
						<a href="{% url 'ai:user_delete' object.pk %}">удалить</a>
					</button>
				</div>
				<div class="user_name">
					<p>
						<strong>{{ object.username }}</strong>
					</p>
					<p>
					{% if object.first_name %}
						<b>{{ object.first_name|title }}</b>
						{% if object.last_name %}
							<p>{{ object.last_name|title }}</p>
						{% endif %}
					{% endif %}
					</p>
				</div>
				
				<div class="user_email">
					email:<br>
					{{ object.email }}
				</div>
				<div class="user_lastlogin">
					logged:<br>
					{{ object.last_login }}
				</div>
			</div>
		{% endfor%}
	</div>
{% endblock %}


