

.users_list {
    margin-left: 150px;
}
.users_list a {
    color: #555;
    text-decoration: none;
}
.users_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    padding: 0 15px;
}
.user_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}
.user_record.not_active {
    opacity: 0.5;
}

.user_record .user_name {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 175px;
}
.user_record .user_name a {
    color: #555;
}
.user_record .user_name p {
    /*font-weight: bold;*/
    margin: 10px auto;
}
.user_record .user_email {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_role {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 125px;
}
.user_record .user_lastlogin {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.login {
    background: #fff;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: 100px auto;
    position: relative;
    display: block;
}