{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Search Stat Страница статистики</title>

    <!-- Bootstrap core CSS -->
    <link href="{%  static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Search Stat</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <span data-feather="home"></span>
                            На главную <span class="sr-only"></span>
                        </a>
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'statistic' %}active{% endif %}" href="{% url 'ai:statistic' %}">
                            <span data-feather="file"></span>
                            Статистика
                        </a>
                        {% if request.user.role == 'admin' %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'sites_view' %}active{% endif %}" href="{% url 'ai:sites_view' %}">
                                    <span data-feather="file-text"></span>
                                    Сайты
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'persons_view' %}active{% endif %}" href="{% url 'ai:persons_view' %}">
                                    <span data-feather="users"></span>
                                    Личности
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'keywords_view' %}active{% endif %}" href="{% url 'ai:keywords_view' %}">
                                    <span data-feather="bar-chart-2"></span>
                                    Ключевые слова
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'users' %}active{% endif %}" href="{% url 'ai:users' %}">
                                    <span data-feather="layers"></span>
                                    Пользователи
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ai:export_as_csv' %}">
                                    <span data-feather="download"></span>
                                    Скачать статистику
                                </a>
                            </li>
                        {% endif %}
                    <li class="nav-item text-nowrap">
                        <hr>
                        <a class="nav-link" href="{% url 'auth:logout' %}">
                            <span data-feather="log-out"></span>
                            Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block content %}
            {% endblock %}
        </main>


    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css">

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->


<script>
    $(document).ready(function () {
        var endpoint = '{% url 'ai:api-data' %}';
        $('#ajax-form').on('submit', function (e) {
            e.preventDefault();
            var formData = {
                date: $('input[name=date]').val(),
                site_name: $('select[name=site_name]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.post({
                url: endpoint,
                data: formData,
                success: function(response){
                    console.log(response)
                }
            });

        });
    })
</script>

</body>
</html>

