{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-5">
        <form action="" method="post">
            {% csrf_token %}
            <ul class="list-group">
                <li class="list-group-item active"><b>Ключевые слова для: {{ person.name }}</b></li>
                {% for field in formset %}
                    <li class="list-group-item">{{ field }}</li>
                {% endfor %}
                {{ formset.management_form }}
                <li class="list-group-item">
                    <input class="btn btn-primary" type="submit" name="Сохранить" value="Сохранить">
                    <a class="btn btn-secondary" type="button" href="{% url 'ai:keywords_view' %}">Назад</a>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
