{% extends 'base.html' %}
{% block content %}
    {% if sites %}
        <div class="col-sm-5">
            <ul class="list-group">
                <li class="list-group-item bg-secondary "><b class="text-white">Сайты:</b></li>
                {% for site in sites %}
                    <li class="list-group-item">{{ site.name }}</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-dark" href="{% url 'ai:sites_edit' %}">Редактировать</a>
        </div>
    {% else %}
        <ul class="list-group">
            <li class="list-group-item">{{ message }}</li>
            <li class="list-group-item"><a class="btn btn-dark" href="{% url 'ai:sites_edit' %}">Добавить</a></li>
        </ul>
    {% endif %}
{% endblock %}

