{% extends 'admin_interface/base.html' %}
{% load static %}


{% block content %}
    <div class="col-sm-9">
        <div class="container">
            <p>Общая статистика:</p>
            <span><b>Всего сайтов: </b> {{ total_sites }}</span>
            <br>
            <span><b>Всего страниц: </b> {{ total_pages }}</span>
            <hr>
            {% for site in agg_pages %}
                <div>
                    <span> <b>{{ site.site__name }}</b>:</span>
                    <span> {{ site.agg }} страниц для обхода</span>

                </div>
            {% endfor %}
            <br>
            <hr>
            <form id="ajax-form" action="" method="post" class="">
                {% csrf_token %}
                <label for="datepicker-here">Выбрать даты</label>
                <input type="text" name='date' placeholder="03.02.2018 - 15.02.2018" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" required/>
                {{ site_choice }}
                <input type="submit" value="Отправить" name="submit">
            </form>
        </div>
        <div class="container">

        </div>
    </div>
{% endblock %}

